<app-recurso-navber></app-recurso-navber>
<br>
<div class="container contenedor">
  <h1 class="text-center">Registro de persona</h1>
    <form [formGroup]="personaForm">
        <div class="mb-3">
          <label class="form-label">Nombre de persona:</label>
          <input class="form-control" formControlName="nombre" type="text" >
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="my-1" style="color: rgb(197, 68, 68);">
            
              <div *ngIf="nombre.errors.required">
                * El campo es requerido.
              </div>
              
              <div *ngIf="nombre.errors.pattern">
                  * El formato del nombre no es válido.
              </div>
              
              <div *ngIf="nombre.errors.maxlength">
                * Se requieren máximo 20 caracteres.
              </div>
              
              <div *ngIf="nombre.errors.minlength">
                * Se requieren mínimo 8 caracteres.
              </div>
              
          </div>

        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Apellidos:</label>
          <input formControlName="apellido" type="text" class="form-control">
          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="my-1" style="color: rgb(197, 68, 68);">
            <div *ngIf="apellido.errors.required">
              * El campo es requerido.
            </div>
            <div *ngIf="apellido.errors.pattern">
                * El formato de la apellido no es válido.
            </div>
            <div *ngIf="apellido.errors.maxlength">
              * Se requieren máximo 20 caracteres.
            </div>
            <div *ngIf="apellido.errors.minlength">
              * Se requieren mínimo 8 caracteres.
            </div>
          </div>
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" >
          <label formControlName="habilitado" class="form-check-label" for="exampleCheck1">Habilitado</label>
        </div> -->
        <div class="text-center">
          <button  [disabled]="personaForm.invalid" (click)="registrarPersona()" type="button" class="btn btn-primary">Registrar</button>
        </div>

    </form>
</div>


<app-recurso-footer></app-recurso-footer>
